@import "common/main.scss";

// Elements
@import 'elements/buttons.scss';
@import 'elements/titles.scss';

// Sections 
@import 'sections/header.scss';
@import 'sections/footer.scss';
@import 'sections/intro.scss';
@import 'sections/about.scss';
@import 'sections/choose.scss';
@import 'sections/description.scss';
@import 'sections/feedback.scss';
@import 'sections/products.scss';
@import 'sections/news.scss';
// @import 'sections/feedback.scss';


//modal windows 
@import 'modals/modal-consultation.scss';

* {
  outline: none;
}

body {
  font-family: $baseFont;
  font-size: $baseFontSize;
  color: $textColor;
}

#overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(25, 25, 25, 0.7);
  z-index: 9;
  visibility: hidden;
  opacity: 0;
  transition: all ease-in-out 0.5s;
  // transition-delay: .2s;
}


