.play {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 37vh;
  right: -7%;
  width: 130px;
  height: 130px;
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid #D8267E; 
  border-radius: 50%;
  background-color: transparent;
  box-shadow: -2px 5px 15px 2px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}


.btn {
  position: relative;
  padding: 20px 53px;
  max-width: 230px;
  width: 100%;
  font-size: $minFontSize;
  font-weight: bold;
  color: #fff;
  text-align: center;
  background-color: #00A3DA;
  border: none;
  border-radius: 8px;
  overflow: hidden;
  // z-index: 3;
  cursor: pointer;
  transition: ease-in-out .2s;


  &:hover,
  &:focus {
    box-shadow: 
    inset -20.5em 0 0 0 #39cdff,
    inset 20.5em 0 0 0 #39cdff;  
  }
 
}

.btn--lighten {
  font-size: $minFontSize;
  font-weight: bold;
  color: #1D1D1E;
  padding: 20px;
  max-width: 230px;
  width: 100%;
  background-color: transparent;
  border: 2px solid #AABDC8;
  border-radius: 8px;
  transition: .3s;
  cursor: pointer;
  transition: ease-in-out .2s;

  &:hover,
  &:focus {
    color: #fff;
    background-color: #AABDC8;
    border: 2px solid #AABDC8;
  }
  
}

#up {
  position: fixed;
  right: 50px;
  bottom: 50px;
  border: none;
  background-color: transparent;
}
