.about {
  margin: 55px 0;
  z-index: 5;
}

.about__text {
  margin-right: 160px;
  padding-top: 70px;
}

.about__title {
  margin-bottom: 5px;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 0.12em;
}

.about__description {
  margin-bottom: 30px;
  line-height: 26px;
}

.about__more {
  display: block;
  text-align: end;
  font-size: 13px;
  font-style: italic;
  font-weight: 500;
  color: #00A3DA;
  text-decoration: underline;

  &:hover {
    font-weight: 900;
  }
}