.about {
  margin: 55px 0;
  z-index: 5;


  @media screen and(max-width: 930px) {
    .flex-container {
      flex-direction: column;
    }

    .about__background {
      order: -1;

        img {
          max-width: 80%;
          display: block;
          margin: 0 auto;  
        }
    }
  } 
}

.about__text {
  margin-right: 160px;
  padding-top: 70px;

  @media screen and(max-width: 1064px) {
    margin-right: 60px;
  }
}

.about__title {
  margin-bottom: 5px;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 0.12em;
}

.about__description {
  margin-bottom: 30px;
  line-height: 26px;
}

.about__more {
  display: block;
  text-align: end;
  font-size: 13px;
  font-style: italic;
  font-weight: 500;
  color: #00A3DA;
  text-decoration: underline;

  &:hover {
    font-weight: 900;
  }
}