.footer {
  padding-top: 62px;
  padding-bottom: 50px;
  border: 2px solid #F1F1F1;
}

.footer__text {
  display: flex;
  text-align: left;
  flex-direction: column;

  .title {
    margin-bottom: 34px;
  }

  .footer__address {
    margin-bottom: 15px;
    font-size: 21px;
    line-height: 25px;
  }
}

.footer__contacts {
  margin-bottom: 30px;
  display: flex;
  line-height: 50px;

  .number {
    padding-left: 10px;
    margin-right: 50px;
  }
}

.work-our {
  margin-bottom: 30px;
}