/*
**  NEWS
*/

.news__title {
  margin-top: 90px;
  text-align: center;
  line-height: 41px;
}

.article {
  margin-top: 82px;
  margin-bottom: 82px;
  border: 2px dashed #C4C4C4;
  border-radius: 8px;
}

.article-wrapper {
  padding: 55px 100px;

  @media screen and(max-width: 1170px) {
    padding: 45px 50px 30px;
  }

  @media screen and(max-width: 460px) {
    padding: 25px 30px 15px; 
  }
}

.article-wrapper--wide {
  padding: 55px 70px;

  @media screen and(max-width: 945px) {
    padding: 45px 20px;
  }
}

.article__two-column {
  display: flex;

  .article__bullet-list:first-of-type {
    margin-right: 70px;
  }

  .article__bullet-list {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    justify-content: space-between;

    .item {
      margin-bottom: 40px;
    }
  }

  @media screen and(max-width: 670px) {
    flex-direction: column;
    flex-basis: 100%;


    .article__bullet-list:first-of-type {
      margin-right: 0;
    }
    .item {
      margin-bottom: 30px;
    }
  }
}


.article__four-column {
  display: flex;
  // padding-left: 15px;

  .article__bullet-list {
    flex-basis: 25%;
  }

  .article__bullet-list:not(:last-child) {
    margin-right: 40px;
  }

  @media screen and(max-width: 1115px) {
    flex-wrap: wrap;
    justify-content: space-around;
    
    .article__bullet-list {
      // text-align: center;
      flex-basis: 35%;

      .item-text {
        width: 100%;
      }
    }

    .article__bullet-list:not(:last-child) {
      margin-right: 0;
    }
  }

  @media screen and(max-width: 945px) {
    justify-content: space-between;

    
  }

  @media screen and(max-width: 773px) {
    // align-items: center;
    // text-align: center;
    flex-direction: column;
  }
}

.article-title {
  margin-bottom: 10px;
  font-size: 22px;
  font-weight: bold;
  line-height: 27px;

  @media screen and(max-width: 1169px) {
    text-align: center;
  }
}

.article-title--second {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
}

.title--little {
  display: block;
  font-weight: bold;
  color: #000;
  // padding-left: 70px;
}

.article-subtitle {
  margin-bottom: 20px;
  font-weight: 500;
  line-height: 23px;
  width: 60%;
}

.article-description {
  margin-bottom: 20px;
  line-height: 20px;
  width: 50%;
}

.article__bullet-list {
  list-style-image: url('../../assets/icons/list-style.svg');
  text-align-last: left;
  padding-left: 15px;
  .item {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 26px;
  }
}