.products {
  background-color: $bgDarken;

  .title {
    text-align: center;
    padding: 55px 0;
  }
}



.product__card {
  display: flex;
  position: relative;
  margin-bottom: 50px;

  @media screen and(max-width: 990px) {
    flex-direction: column;
    align-items: center;

    .product__card-slider {
      max-width: 60%;
      margin-right: 0;
    }

    .prev,
    .next,
    .prev--2,
    .next--2 {
      top: 20%;

    }

    .prev,
    .prev--2 {
      left: 20%;
    }

    .next,
    .next--2 {
      left: 73%;
    }
  }

  @media screen and(max-width: 847px) {

    .product__card-slider {
      max-width: 80%;
    }

    .prev,
    .prev--2 {
      left: 10%;
    }
    .next,
    .next--2 {
      left: 81.5%;
    }

  }

  @media screen and(max-width: 694px) {
    .product__card-slider {
      max-width: 100%;
    }

    .prev,
    .prev--2 {
      left: 2%;
    }

    .next,
    .next--2 {
      left: 88%;
    }
  } 

  @media screen and(max-width: 544px) {

    .prev,
    .next, 
    .prev--2,
    .next--2 {
      top: 17%;
    }

    .prev,
    .prev--2 {
      left: 1.5%;
    }

    .next,
    .next--2 {
      left: 87%;
    }
  }

  @media screen and(max-width: 485px) {
    .prev,
    .prev--2 {
      left: 0;
    }

    .next,
    .next--2 {
      left: 85.5%;
    }
  }

  @media screen and(max-width: 403px) {

    .next,
    .next--2 {
      left: 84%;
    }
  }
}

#product__card-2 {
  text-align: right;
  padding-bottom: 50px;

  .product__who-list {
    text-align: right;
    list-style-type: none;
  }

  @media screen and(max-width: 990px) {
    text-align: left;

    .product__who-list {
      text-align: left;
    }
  }

  @media screen and(max-width: 900px) {
    text-align: left;

    .product__who-list {
      text-align: left;
    }
  }
}

@media screen and(max-width: 990px) {

  #product__slider-2 {
    order: -1;
  }
}
.product-title {
  font-weight: bold;
  line-height: 32px;
  margin-bottom: 14px;
  font-size: 26px;
}

.btn-container {

  .btn {
    max-width: 180px;
  }
  .btn--lighten {
    margin-right: 18px;
  }

  @media screen and(max-width: 495px) {
    text-align: center;


    .btn--lighten {
      display: block;
      margin: 0 auto;
      margin-bottom: 15px;
    }
  }
}

.product__card-slider {
  display: flex;
  max-width: 50%;
  width: 100%;
}

.slider-item {
  position: relative;
  outline: none;

  img {
    width: 100%;
  }
}

.prev,
.next, 
.prev--2,
.next--2 {
  position: absolute;
  top: 35%;
  background-color: transparent;
  border: none;
  outline: none;
  z-index: 2;
  transition: .3s;

  &:hover svg circle {
    fill: #AABDC8;
    transition: .2s;
  }

  &:hover path {
    stroke: #fff;
  }
  
}

.prev {
  left: 0;
}

.next {
  left: 45%;
}

.prev--2 {
  left: 50%;
}

.next--2 {
  right: 0;
}

.product__who {
  padding-top: 17px;
  margin-bottom: 17px;
  font-weight: bold;
}

.product__who-list {
  margin-bottom: 20px;
  padding-left: 20px;
  list-style-type: circle;

  .item {
    line-height: 25px;
  }
}

.product__price {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 26px;
  line-height: 37px;
  color: #00A3DA;

  @media screen and(max-width: 495px) {
    text-align: center;
  }
}

.mr-36 {
  margin-right: 36px;
}