.modal {
    position: relative;
    margin: 5vh auto;
    max-width: 610px;
    width: 90%;
    text-align: center;
    background-color: #fff;
    border-radius: 5px;
    z-index: 100;
    transition: all ease-in-out .3s;
    transition-delay: .2s;
    visibility: hidden;
    display: none;
    opacity: 0;
    // top: 350px;

    .title {
        margin-bottom: 10px;
    }

    .subtitle {
        margin-bottom: 30px;
    }

    .btn {
        margin: 10px auto 0;
        max-width: 377px;
        width: 100%;
        text-transform: uppercase;
        letter-spacing: 0.08em;
    }

    @media screen and(max-width: 500px) {
        margin: 4.3vh auto;

        .modal-container {
            padding: 30px 25px 30px;
        }
    }
}

.modal-container {
    position: relative;
    padding: 40px 74px 40px;

    @media screen and(max-width: 477px) {
        padding: 40px 30px 63px;
    }
}

.modal__label {
    padding-left: 42px;
    text-align: left;
    display: inline-block;

    sup {
        font-weight: 900;
        color: #F92D2D;
    }

    @media screen and(max-width: 670px) {
        padding-left: 0;
    }
}

.modal__input {
    margin-top: 10px;
    margin-bottom: 22px;
    padding: 20px 30px 15px;
    max-width: 377px;
    width: 100%;
    font-size: 16px;
    line-height: 19px;
    color: #BCBCBC;
    border: 2px solid #E3EFF8;
    border-radius: 5px;
}


.modal__show {
    display: block;
    visibility: visible !important;
    opacity: 1 !important;
    height: auto;
    transition-delay: all 1s;
}

.modal__close {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: .2s;

    &:hover {
        transform: rotate(90deg);
    }
}

.title--sucess {
    margin-bottom: 50px;
}
 
.subtitle--success {
    margin-bottom: 50px;
    font-size: 30px;
}