.container {
  max-width: calc(#{$baseContainerWidth} - (#{$baseContainerPadding} * 2));
  width: 100%;
  padding: 0 $baseContainerPadding;
  margin: 0 auto;

  @media screen and (max-width: 1200px) {
    padding: 0 24px;
  }

  @media screen and (max-width: 600px) {
    padding: 0 14px;
  }
}

.flex-container {
  @extend .container;
  @include flexContainer(row);
}

.flex-container-wrap {
  @extend .flex-container;
  flex-wrap: wrap;
}

.flex-container-vertical {
  @extend .container;
  @include flexContainer(column);
}

.flex-container-vertical-wrap {
  @extend .flex-container-vertical;
  flex-wrap: wrap;
}

.flex-row {
  @include flexContainer(row);
}

.flex-row-wrap {
  @extend .flex-row;
  flex-wrap: wrap;
}

.flex-row-vertical {
  @include flexContainer(column);
}

.flex-row-vertical-wrap {
  @extend .flex-row-vertical;
  flex-wrap: wrap;
}

// ----- Align-items
@each $type in (center, flex-start, flex-end, baseline, stretch) {
  .ai-#{$type} {
    align-items: $type;
  }
}

// ----- Justify-content
@each $type
  in (center, space-between, space-around, flex-start, flex-end, left, right)
{
  .jc-#{$type} {
    justify-content: $type;
  }
}
