$baseContainerWidth: 1440px;
$baseContainerPadding: 40px;

// Font Family
$baseFont: 'Roboto', sans-serif;

// Font sizes
$baseFontSize: 16px;
$minFontSize: 14px;
$titleFontSize: 34px;

//Colors
$textColor: #1B3344;
$accentColor: #D8267E;

$bgDarken: #F5FAFF;